<div class="vh-100">
    <app-encabezado />
    <div class="bg-red">
        <div class="row gx-0 justify-content-center w-100 pb-5">
            <div class="row gx-0 flex-column gap-4 py-3 px-5 w-75 bg-light rounded-bottom-4">
    
                <div>
                    <h2 class="text-center">Cuerpo Oficial de Bomberos Cartagena</h2>
                </div>
    
                <div class="row gx-0 justify-content-center">
                    <iframe height="580" class="w-75 rounded" src="https://www.youtube.com/embed/oieeXMLZIjc"
                        title="Equipo de bomberos de cartagenas" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                </div>
    
                <div class="row gx-0 gap-3 mt-5 w-100">
                    <div class="col">
                        <img src="https://drive.google.com/thumbnail?id=1tRhw1qB0LNR6N2RhID7DuiwNdMl0yPOc&sz=w1000"
                            alt="" class="w-100 border border-dark">
                    </div>
                    <div class="col align-content-center">
                        <p class="fs-5 text-warp w-auto"><strong>Los bomberos de Cartagena, un cuerpo dedicado y
                                valiente, representan el compromiso y la abnegación en su máxima expresión. Con una
                                historia rica y un enfoque en la seguridad comunitaria, estos profesionales no solo
                                combaten incendios, sino que también se destacan en el rescate y la respuesta a
                                emergencias. Su labor incansable y su capacidad para enfrentar situaciones críticas con
                                rapidez y eficacia han consolidado su reputación como guardianes indispensables de la
                                ciudad. En Cartagena, los bomberos no solo protegen vidas y propiedades, sino que
                                también simbolizan el espíritu de servicio y la resiliencia de una comunidad unida
                                frente a la adversidad.</strong>
                        </p>
                    </div>
                </div>
    
                <div class="row gx-0 gap-3">
                    <div class="col align-content-center">
                        <p class="fs-5 text-warp w-auto">
                            <strong>
                                En conclusión, los Bomberos de Cartagena son una entidad fundamental en la protección y
                                seguridad de la ciudad. Su enfoque integral, basado en la prevención, la educación, la
                                respuesta rápida y la colaboración, los posiciona como un referente en el campo de la
                                seguridad contra incendios y emergencias. Con un compromiso inquebrantable hacia la
                                comunidad y una visión clara de liderazgo y excelencia, los Bomberos de Cartagena
                                continúan trabajando incansablemente para garantizar un entorno seguro y protegido para
                                todos los ciudadanos.
                            </strong>
                        </p>
                    </div>
                    <div class="col">
                        <img src="https://drive.google.com/thumbnail?id=1tRhw1qB0LNR6N2RhID7DuiwNdMl0yPOc&sz=w1000"
                            alt="" class=" w-100 border border-dark">
                    </div>
                </div>
    
                <div>
                    <div class="row mt-5">
                        <div class="col-md-6 bg-light.bg-gradient rounded">
                            <h2>Misión</h2>
                            <p class="text-wrap">Proteger la vida, bienes y el medio ambiente de los habitantes de
                                Cartagena mediante la organización,
                                equipamiento y capacitación de un cuerpo de bomberos eficiente y preparado, que actúe
                                con prontitud y
                                profesionalismo en la prevención y atención de incendios y otras emergencias, en
                                colaboración con la
                                comunidad y otras entidades de socorro.</p>
                        </div>
                        <div class="col-md-6 bg-light.bg-gradient rounded">
                            <h2>Visión</h2>
                            <p text-wrap>Convertir a Cartagena en una ciudad líder en la gestión y prevención de
                                emergencias, con un cuerpo de
                                bomberos reconocido por su excelencia, capacidad de respuesta y compromiso con la
                                seguridad ciudadana,
                                trabajando de manera integrada con la comunidad y las instituciones para asegurar un
                                entorno seguro y
                                resiliente ante cualquier contingencia.</p>
                        </div>
                    </div>
                </div>
                <div class="bg-light.bg-gradient rounded">
    
                    <div class="mb-5">
                        <h2 class="text-center">Nuestros valores</h2>
                    </div>
    
                    <div class=" row">
                        <div class="col-md-6 bg-light.bg-gradient rounded row">
                            <div class="col">
                                <img src="https://drive.google.com/thumbnail?id=11MTSRARNQ9wEZXWU0x9cQtF36NERrgEv&sz=w1000"
                                    style="width: 60px;" />
                            </div>
                            <div class=" col-md-10 ">
                                <h2>Respeto</h2>
                                <p class="text-wrap">
                                    Reconocimiento y legitimación del otro en sus derechos, deberes y
                                    diferencias
                                    raciales, de género, culturales, sociales y de pensamiento.
                                </p>
    
                            </div>
                        </div>
    
                        <div class="col-md-6 bg-light.bg-gradient rounded row ">
                            <div class="col">
                                <img src="https://drive.google.com/thumbnail?id=11MTSRARNQ9wEZXWU0x9cQtF36NERrgEv&sz=w1000"
                                    style="width: 60px;" />
                            </div>
                            <div class="col-md-10">
                                <h2>Honor</h2>
                                <p class="text-wrap">
                                    Aceptación personal y construcción en el imaginario social de una cualidad moral
                                    vinculada al
                                    deber, a la virtud, al mérito y al heroísmo.
                                </p>
                            </div>
                        </div>
                    </div>
    
    
                    <div class="row">
                        <div class="col-md-6 bg-light.bg-gradient rounded row">
                            <div class="col">
                                <img src="https://drive.google.com/thumbnail?id=11MTSRARNQ9wEZXWU0x9cQtF36NERrgEv&sz=w1000"
                                    style="width: 60px;" />
                            </div>
                            <div class=" col-md-10 ">
                                <h2>Abnegacion</h2>
                                <p class="text-wrap">
                                    Sacrificio espontáneo de la voluntad, intereses, deseos y aun de la
                                    propia vida.
                                </p>
    
                            </div>
                        </div>
    
                        <div class="col-md-6 bg-light.bg-gradient rounded row ">
                            <div class="col">
                                <img src="https://drive.google.com/thumbnail?id=11MTSRARNQ9wEZXWU0x9cQtF36NERrgEv&sz=w1000"
                                    style="width: 60px;" />
                            </div>
                            <div class="col-md-10">
                                <h2>Compromiso</h2>
                                <p class="text-wrap">
                                    Ser fiel a sus convicciones, siendo eficiente y eficaz en el
                                    cumplimiento de las
                                    obligaciones contraídas.
                                </p>
                            </div>
                        </div>
    
                        <div class=" row ">
                            <div class="col-md-6 bg-light.bg-gradient rounded row ">
                                <div class="col">
                                    <img src="https://drive.google.com/thumbnail?id=11MTSRARNQ9wEZXWU0x9cQtF36NERrgEv&sz=w1000"
                                        style="width: 60px;" />
                                </div>
                                <div class=" col-md-10 ">
                                    <h2>Disciplina</h2>
                                    <p class="text-wrap">
    
                                        El acatamiento, obediencia, subordinación que exigen
                                        que la persona se comporte o proceda observando y cumpliendo
                                        fielmente las leyes y reglamento.
    
                                    </p>
                                </div>
                            </div>
    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>