<div style="background-color: rgb(218, 218, 218);"> 
    <app-encabezado></app-encabezado>

    <div class="row gx-0 justify-content-center w-100 pb-5">
        <div>
            <div class="row d-flex flex-wrap align-items-center row-gap-5 gx-0 justify-content-center gap-3 mt-3">
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=167mZ5PH-i2xvztCOSGIOnNhXJaCCXOOq&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="1" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255), rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=11dc0NqXzY53Jw7Wlo4nWHm6g9xLQ7hzC&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="7" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1gISOGjcamaxhUnQA4hhyotHZgEkPOPhJ&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="2" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1dV7PA87l_xEaZJ2YJYo8K1B-RVUoKAQb&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="4" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=16HgjqN1uS2Q7OPp-L6_RucLAN8CuCLBa&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="0" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255), rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1qobxHCbZyqxVLrZWXbqhKLj-XaFX3fV_&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="3" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),   radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1MP0Lv-3f0qJ80PhniQjCExJuHEXCUQjI&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="6" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1MgwGbFcjnKhG-HiSk5Kqpbz7FPYZ2S70&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="8" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1vS0yc_FDA1d7mRaMOUZHcr1eqseZQkYA&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="9" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1BR2sms7b2HAeXOhUSOrczMAVsBC61G55&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="10" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1wClBL3W5BdZFyKWRkuqp2k24ZmauW2c6&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="11"
                        alt="" class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1MXuLDMWsfyjAmL7k0t4efMy8PInSR2Wu&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="12" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1GWwEggxe20n-fco99tKblYKGmN68NqWW&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="13" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=10zBDOtxBTL5L-LTzuQBz2De2nbaREIx8&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="14" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1AWAqxfQdIX5cDQcaBC6ovmtvi4p0qXK3&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="15" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1cfquZQN17FtqVWim-b6qrboRyzj2hLNu&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="16" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1IWinbBEBlgz9tJsYLXWzYZ1pHZb0twGC&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="17" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1MUG74cQV8i-m2ulli0ZcGDnSCmHkFnne&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="18" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1VVugfQxB0w41DJt8kSByTbPJk2Jnj65k&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="19" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1INWei6eZS3XtrsbcHmyEdI5jRq_HtU3K&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="20" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1_KLpkTvQ-lI-PKZ_vQbVlpZ6Lqf9oI9I&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="21" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1RY0Ibf-H8UPxHBkUFauiqEbvYTWV3EAk&sz=w1000" data-bs-target="#indicators"
                        data-bs-slide-to="22" alt="" class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1It6zcW3gLjR3lqS71rrdIX-4PBRpgWiy&sz=w1000" data-bs-target="#indicators"
                        data-bs-slide-to="23" alt="" class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1Uq67vBZo9aLJ0QS-mCBKofqrGVzxWbNb&sz=w1000" data-bs-target="#indicators"
                        data-bs-slide-to="24" alt="" class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1ZJ5C5-i2ommyUaQ3_xzC4bWaGNfDIOJb&sz=w1000" data-bs-target="#indicators"
                        data-bs-slide-to="25" alt="" class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=1u3eXcq2sHepnrEeRYKR_BPShNCBrqVcc&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="26" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-11 col-md-3 position-relative" data-bs-toggle="modal" data-bs-target="#lightbox">
                    <img src="https://drive.google.com/thumbnail?id=15CVB1zZO6KMvD5CHP5AI6G2RKQB27eEL&sz=w1000" data-bs-target="#indicators" data-bs-slide-to="27" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>



            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal scale-in-center" id="lightbox" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content position-relative border-none" style="background-color: rgba(0, 0, 0, 0);">
                <button type="button" class="btn-close position-absolute top-0 start-0 z-2" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                <div id="indicators" class="carousel slide row gx-0 justify-content-center" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=16HgjqN1uS2Q7OPp-L6_RucLAN8CuCLBa&sz=w1000" alt="0">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=167mZ5PH-i2xvztCOSGIOnNhXJaCCXOOq&sz=w1000" alt="1">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1gISOGjcamaxhUnQA4hhyotHZgEkPOPhJ&sz=w1000" alt="2">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1qobxHCbZyqxVLrZWXbqhKLj-XaFX3fV_&sz=w1000" alt="3">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1dV7PA87l_xEaZJ2YJYo8K1B-RVUoKAQb&sz=w1000" alt="4">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1XD4rL6rdXALPKrTVnFtw9RQAutAiBDkv&sz=w1000" alt="5">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1MP0Lv-3f0qJ80PhniQjCExJuHEXCUQjI&sz=w1000" alt="6">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=11dc0NqXzY53Jw7Wlo4nWHm6g9xLQ7hzC&sz=w1000" alt="7">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1MgwGbFcjnKhG-HiSk5Kqpbz7FPYZ2S70&sz=w1000" alt="8">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1vS0yc_FDA1d7mRaMOUZHcr1eqseZQkYA&sz=w1000" alt="9">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1BR2sms7b2HAeXOhUSOrczMAVsBC61G55&sz=w1000" alt="10">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1wClBL3W5BdZFyKWRkuqp2k24ZmauW2c6&sz=w1000" alt="Fifth slide">
                        </div>

                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1MXuLDMWsfyjAmL7k0t4efMy8PInSR2Wu&sz=w1000" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1GWwEggxe20n-fco99tKblYKGmN68NqWW&sz=w1000" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=10zBDOtxBTL5L-LTzuQBz2De2nbaREIx8&sz=w1000" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1AWAqxfQdIX5cDQcaBC6ovmtvi4p0qXK3&sz=w1000" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1cfquZQN17FtqVWim-b6qrboRyzj2hLNu&sz=w1000" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1IWinbBEBlgz9tJsYLXWzYZ1pHZb0twGC&sz=w1000" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1MUG74cQV8i-m2ulli0ZcGDnSCmHkFnne&sz=w1000" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1VVugfQxB0w41DJt8kSByTbPJk2Jnj65k&sz=w1000" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1INWei6eZS3XtrsbcHmyEdI5jRq_HtU3K&sz=w1000" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1_KLpkTvQ-lI-PKZ_vQbVlpZ6Lqf9oI9I&sz=w1000" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid"
                                src="https://drive.google.com/thumbnail?id=1RY0Ibf-H8UPxHBkUFauiqEbvYTWV3EAk&sz=w1000"
                                alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid"
                                src="https://drive.google.com/thumbnail?id=1It6zcW3gLjR3lqS71rrdIX-4PBRpgWiy&sz=w1000"
                                alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid"
                                src="https://drive.google.com/thumbnail?id=1Uq67vBZo9aLJ0QS-mCBKofqrGVzxWbNb&sz=w1000"
                                alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid"
                                src="https://drive.google.com/thumbnail?id=1ZJ5C5-i2ommyUaQ3_xzC4bWaGNfDIOJb&sz=w1000"
                                alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=1u3eXcq2sHepnrEeRYKR_BPShNCBrqVcc&sz=w1000" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center gx-0">
                            <img class="img-fluid" src="https://drive.google.com/thumbnail?id=15CVB1zZO6KMvD5CHP5AI6G2RKQB27eEL&sz=w1000" alt="Fifth slide">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>