<div class="bg-blue">
    <app-encabezado></app-encabezado>

    <div class="row gx-0 justify-content-center w-100 pb-5">
        <div>
            <div class="row d-flex flex-wrap align-items-center row-gap-5 gx-0 justify-content-center gap-3 mt-3"
                data-bs-toggle="modal" data-bs-target="#lightbox">
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/wuhxxss5d3gbkj4ujkevk/7.jpeg?rlkey=a9jbxft6axj9fpcijxk601mbl&st=n47ru7e0&raw=1" data-bs-target="#indicators" data-bs-slide-to="1" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255), rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/xdio6w4qiizskg887ta75/31.jpeg?rlkey=nqwa17ht6jcuv878rbuz8cq0g&st=m9vb6gmu&raw=1" data-bs-target="#indicators" data-bs-slide-to="7" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/l3wo1qdtmrkjv2hod3u1l/bombe1.jpeg?rlkey=dwcsdtjevnlms1dby0fth9x0u&st=nfoa1sam&raw=1" data-bs-target="#indicators" data-bs-slide-to="2" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/a6wjtr073xeen6sl9jjb8/42.jpeg?rlkey=simiow1x6sxpvzvs8nheutzjq&st=xnlf6v4n&raw=1" data-bs-target="#indicators" data-bs-slide-to="4" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative row gx-0 justify-content-center">
                    <img src="https://www.dropbox.com/scl/fi/848jt3ynpb5o9d8f5pmcy/6.jpeg?rlkey=au1v8uprkfeyb6cwgaq34ksxj&st=wzkvsza0&raw=1" data-bs-target="#indicators" data-bs-slide-to="0" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255), rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/f70bo5dujttqcnpflmfz2/29.jpeg?rlkey=194wn570vktg5f9dfs9obeeeg&st=oz9g114f&raw=1" data-bs-target="#indicators" data-bs-slide-to="3" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),   radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/fj35b4wi8otgki3kjnmsg/30.jpeg?rlkey=iucqa200ws60npxli37zwfx06&st=s30k17t0&raw=1" data-bs-target="#indicators" data-bs-slide-to="6" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/767bcs4u0wx9i2i4f1k4y/32.jpeg?rlkey=5bin74ventq6brqj8vjluln0z&st=wuflq39n&raw=1" data-bs-target="#indicators" data-bs-slide-to="8" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/2gm0jj1u10tt48p74i0sl/33.jpeg?rlkey=beq9mhg2oft7rlz40b2k99sb6&st=3qx76gx8&raw=1" data-bs-target="#indicators" data-bs-slide-to="9" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/ng4ymmbuk0ot2lsymvpue/34.jpeg?rlkey=028lacjdzxvrokhruigzogy57&st=smq4nwvd&raw=1" data-bs-target="#indicators" data-bs-slide-to="10" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/6jtbsgfi8vtwjxtp7k57z/WhatsApp-2.jpeg?rlkey=si8ocvnfh9yc2beakqldf6ffc&st=v9vtxe9y&raw=1" data-bs-target="#indicators" data-bs-slide-to="11"
                        alt="" class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/p29tuuiftb9ftl6m3l38y/48.jpeg?rlkey=vxoqttoxa4zlbj37uu6mv0swr&st=tze7ypa1&raw=1" data-bs-target="#indicators" data-bs-slide-to="12" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/23k1p19ec08majymw4pjp/8.jpeg?rlkey=pmabqx4fj0wclabt8niztuzvi&st=jgfc5cq0&raw=1" data-bs-target="#indicators" data-bs-slide-to="13" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/iwjl8hteb8q9vy53wdipl/9.jpeg?rlkey=evdw3dlugypnt38987pnicgq2&st=awvlboq4&raw=1" data-bs-target="#indicators" data-bs-slide-to="14" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/j8196ui7rgspr4q0qopw2/10.jpeg?rlkey=4ui9x5fjbp9i2xbzrdwf8pn6h&st=jven6hrb&raw=1" data-bs-target="#indicators" data-bs-slide-to="15" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/86x3llxyj88muig6ui08l/36.jpeg?rlkey=4mjbjhz3e65r9aum2m6ukg7o9&st=m0noni2f&raw=1" data-bs-target="#indicators" data-bs-slide-to="16" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/ve0v08oja5ofeiy56sn0p/41.jpeg?rlkey=zs3kjh81x82ykklh40kqzn9nv&st=t5ql25nz&raw=1" data-bs-target="#indicators" data-bs-slide-to="17" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/pw9y22o78uxpptjxi9ge1/44.jpeg?rlkey=4j1cjzj7s28uo1z9zmx5jggor&st=914zwsw9&raw=1" data-bs-target="#indicators" data-bs-slide-to="18" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/mdwsicgcs3qktqappcbve/45.jpeg?rlkey=91wmv38slc0q7tuybmul70579&st=66pdwr4p&raw=1" data-bs-target="#indicators" data-bs-slide-to="19" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/3cft9gp0n28k47fa9wmo3/46.jpeg?rlkey=m2m1hk85zmbhom312dvaoflrh&st=3lc22757&raw=1" data-bs-target="#indicators" data-bs-slide-to="20" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/f8lgox7iqmjswac3m4kar/49.jpeg?rlkey=egbp8xqepxpjmkuakwb1vz60p&st=5cruw6fp&raw=1" data-bs-target="#indicators" data-bs-slide-to="21" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/p9ld5mp23iezod8hl3kiw/Captura-de-pantalla-2024-07-04-095202.png?rlkey=jq6rocmfb4t03n14smg326gkc&st=6h8ba9i4&raw=1" data-bs-target="#indicators"
                        data-bs-slide-to="22" alt="" class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/ryi84axkw2ghi9ehqnurb/Captura-de-pantalla-2024-07-04-095216.png?rlkey=36aueegj8q6ccn9t2vaqjldyj&st=unfpq5xo&raw=1" data-bs-target="#indicators"
                        data-bs-slide-to="23" alt="" class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/lfk3ljenb0x1e82kq9tnc/Captura-de-pantalla-2024-07-04-095551.png?rlkey=mk02y3sa6g0pjzw6s2wtbichr&st=cck9h76l&raw=1" data-bs-target="#indicators"
                        data-bs-slide-to="24" alt="" class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/xwlyth04qgdjp4edfcztl/Captura-de-pantalla-2024-07-04-095603.png?rlkey=2k07q806ftehgqb9jmncycbwd&st=dg7jiu9s&raw=1" data-bs-target="#indicators"
                        data-bs-slide-to="25" alt="" class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/wl6sdlrumecydqps9b1pl/50.jpeg?rlkey=t3detiwsuqo256r0ujj3f510s&st=bzm5lwaz&raw=1" data-bs-target="#indicators" data-bs-slide-to="26" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>
                <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                    <img src="https://www.dropbox.com/scl/fi/7jcdc2w44aobhs6ofiqmg/47.jpeg?rlkey=tu8pf5s7p8d9mkwbs3tt6rlok&st=hxv3ps46&raw=1" data-bs-target="#indicators" data-bs-slide-to="27" alt=""
                        class="img-fluid m-0 img-fluid-g img-anim"
                        style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
                </div>



            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal scale-in-center" id="lightbox" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content position-relative collage-border p-0 m-0 border-none">
                <button type="button" class="btn-close position-absolute top-0 start-0 z-2" data-bs-dismiss="modal"
                    aria-label="Close"></button>
                <div id="indicators" class="carousel slide" data-interval="false">
                    <div class="carousel-inner">
                        <div class="carousel-item active h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/848jt3ynpb5o9d8f5pmcy/6.jpeg?rlkey=au1v8uprkfeyb6cwgaq34ksxj&st=wzkvsza0&raw=1" alt="First slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/wuhxxss5d3gbkj4ujkevk/7.jpeg?rlkey=a9jbxft6axj9fpcijxk601mbl&st=n47ru7e0&raw=1" alt="Second slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/l3wo1qdtmrkjv2hod3u1l/bombe1.jpeg?rlkey=dwcsdtjevnlms1dby0fth9x0u&st=nfoa1sam&raw=1" alt="Third slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/f70bo5dujttqcnpflmfz2/29.jpeg?rlkey=194wn570vktg5f9dfs9obeeeg&st=oz9g114f&raw=1" alt="Fourth slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/a6wjtr073xeen6sl9jjb8/42.jpeg?rlkey=simiow1x6sxpvzvs8nheutzjq&st=xnlf6v4n&raw=1" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/t0ukh6iyjt6zqa65xc13l/27.jpeg?rlkey=mu9w9pj2pqz02ba6773nsy0m0&st=qtaig49e&raw=1" alt="Sixth slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/fj35b4wi8otgki3kjnmsg/30.jpeg?rlkey=iucqa200ws60npxli37zwfx06&st=s30k17t0&raw=1" alt="First slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/xdio6w4qiizskg887ta75/31.jpeg?rlkey=nqwa17ht6jcuv878rbuz8cq0g&st=m9vb6gmu&raw=1" alt="Second slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/767bcs4u0wx9i2i4f1k4y/32.jpeg?rlkey=5bin74ventq6brqj8vjluln0z&st=wuflq39n&raw=1" alt="Third slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/2gm0jj1u10tt48p74i0sl/33.jpeg?rlkey=beq9mhg2oft7rlz40b2k99sb6&st=3qx76gx8&raw=1" alt="Fourth slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/ng4ymmbuk0ot2lsymvpue/34.jpeg?rlkey=028lacjdzxvrokhruigzogy57&st=smq4nwvd&raw=1" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/6jtbsgfi8vtwjxtp7k57z/WhatsApp-2.jpeg?rlkey=si8ocvnfh9yc2beakqldf6ffc&st=v9vtxe9y&raw=1" alt="Fifth slide">
                        </div>

                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/p29tuuiftb9ftl6m3l38y/48.jpeg?rlkey=vxoqttoxa4zlbj37uu6mv0swr&st=tze7ypa1&raw=1" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/23k1p19ec08majymw4pjp/8.jpeg?rlkey=pmabqx4fj0wclabt8niztuzvi&st=jgfc5cq0&raw=1" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/iwjl8hteb8q9vy53wdipl/9.jpeg?rlkey=evdw3dlugypnt38987pnicgq2&st=awvlboq4&raw=1" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/j8196ui7rgspr4q0qopw2/10.jpeg?rlkey=4ui9x5fjbp9i2xbzrdwf8pn6h&st=jven6hrb&raw=1" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/86x3llxyj88muig6ui08l/36.jpeg?rlkey=4mjbjhz3e65r9aum2m6ukg7o9&st=m0noni2f&raw=1" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/ve0v08oja5ofeiy56sn0p/41.jpeg?rlkey=zs3kjh81x82ykklh40kqzn9nv&st=t5ql25nz&raw=1" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/pw9y22o78uxpptjxi9ge1/44.jpeg?rlkey=4j1cjzj7s28uo1z9zmx5jggor&st=914zwsw9&raw=1" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/mdwsicgcs3qktqappcbve/45.jpeg?rlkey=91wmv38slc0q7tuybmul70579&st=66pdwr4p&raw=1" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/3cft9gp0n28k47fa9wmo3/46.jpeg?rlkey=m2m1hk85zmbhom312dvaoflrh&st=3lc22757&raw=1" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/f8lgox7iqmjswac3m4kar/49.jpeg?rlkey=egbp8xqepxpjmkuakwb1vz60p&st=5cruw6fp&raw=1" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center">
                            <img class="img-fluid"
                                src="https://www.dropbox.com/scl/fi/p9ld5mp23iezod8hl3kiw/Captura-de-pantalla-2024-07-04-095202.png?rlkey=jq6rocmfb4t03n14smg326gkc&st=6h8ba9i4&raw=1"
                                alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center">
                            <img class="img-fluid"
                                src="https://www.dropbox.com/scl/fi/ryi84axkw2ghi9ehqnurb/Captura-de-pantalla-2024-07-04-095216.png?rlkey=36aueegj8q6ccn9t2vaqjldyj&st=unfpq5xo&raw=1"
                                alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center">
                            <img class="img-fluid"
                                src="https://www.dropbox.com/scl/fi/lfk3ljenb0x1e82kq9tnc/Captura-de-pantalla-2024-07-04-095551.png?rlkey=mk02y3sa6g0pjzw6s2wtbichr&st=cck9h76l&raw=1"
                                alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center">
                            <img class="img-fluid"
                                src="https://www.dropbox.com/scl/fi/xwlyth04qgdjp4edfcztl/Captura-de-pantalla-2024-07-04-095603.png?rlkey=2k07q806ftehgqb9jmncycbwd&st=dg7jiu9s&raw=1"
                                alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/wl6sdlrumecydqps9b1pl/50.jpeg?rlkey=t3detiwsuqo256r0ujj3f510s&st=bzm5lwaz&raw=1" alt="Fifth slide">
                        </div>
                        <div class="carousel-item h-100 w-100 row justify-content-center">
                            <img class="img-fluid" src="https://www.dropbox.com/scl/fi/7jcdc2w44aobhs6ofiqmg/47.jpeg?rlkey=tu8pf5s7p8d9mkwbs3tt6rlok&st=hxv3ps46&raw=1" alt="Fifth slide">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>