<div class="row gx-0 justify-content-center w-100 bg-blue">
    <div>
        <div class="row d-flex flex-wrap align-items-center row-gap-5 gx-0 justify-content-center gap-3 mt-3"
            data-bs-toggle="modal" data-bs-target="#lightbox">
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="/Vistas/adrian/galeria/7.jpeg" data-bs-target="#indicators" data-bs-slide-to="1"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255), rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="/Vistas/adrian/galeria/31.jpeg" data-bs-target="#indicators" data-bs-slide-to="7"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="/Vistas/bombe1.jpeg" data-bs-target="#indicators" data-bs-slide-to="2" alt=""
                    class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="/Vistas/adrian/galeria/42.jpeg" data-bs-target="#indicators" data-bs-slide-to="4"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative row gx-0 justify-content-center">
                <img src="/Vistas/adrian/galeria/6.jpeg" data-bs-target="#indicators" data-bs-slide-to="0"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255), rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="/Vistas/adrian/galeria/29.jpeg" data-bs-target="#indicators" data-bs-slide-to="3"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),   radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="/Vistas/adrian/galeria/30.jpeg" data-bs-target="#indicators" data-bs-slide-to="6"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="/Vistas/adrian/galeria/32.jpeg" data-bs-target="#indicators" data-bs-slide-to="8"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="/Vistas/adrian/galeria/33.jpeg" data-bs-target="#indicators" data-bs-slide-to="9"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="/Vistas/adrian/galeria/34.jpeg" data-bs-target="#indicators" data-bs-slide-to="10"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="/Vistas/adrian/galeria/WhatsApp 2.jpeg" data-bs-target="#indicators"data-bs-slide-to="11" alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="/Vistas/adrian/galeria/48.jpeg" data-bs-target="#indicators" data-bs-slide-to="12"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="8.jpeg" data-bs-target="#indicators" data-bs-slide-to="13"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="9.jpeg" data-bs-target="#indicators" data-bs-slide-to="14"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="10.jpeg" data-bs-target="#indicators" data-bs-slide-to="15"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="36.jpeg" data-bs-target="#indicators" data-bs-slide-to="16"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="41.jpeg" data-bs-target="#indicators" data-bs-slide-to="17"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="44.jpeg" data-bs-target="#indicators" data-bs-slide-to="18"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="45.jpeg" data-bs-target="#indicators" data-bs-slide-to="19"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="46.jpeg" data-bs-target="#indicators" data-bs-slide-to="20"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="49.jpeg" data-bs-target="#indicators" data-bs-slide-to="21"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="Captura de pantalla 2024-07-04 095202.png" data-bs-target="#indicators" data-bs-slide-to="22"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="Captura de pantalla 2024-07-04 095216.png" data-bs-target="#indicators" data-bs-slide-to="23"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="Captura de pantalla 2024-07-04 095551.png" data-bs-target="#indicators" data-bs-slide-to="24"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="Captura de pantalla 2024-07-04 095603.png" data-bs-target="#indicators" data-bs-slide-to="25"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="50.jpeg" data-bs-target="#indicators" data-bs-slide-to="26"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>
            <div class="col-12 col-md-6 col-lg-3 col-lg-3-p position-relative">
                <img src="47.jpeg" data-bs-target="#indicators" data-bs-slide-to="27"
                    alt="" class="img-fluid m-0 img-fluid-g img-anim"
                    style="border: 2px solid transparent; border-radius: 10px; background-image: linear-gradient(),  radial-gradient(circle at top left, rgb(255, 255, 255),  rgb(255, 255, 255)); background-origin: border-box; background-clip: content-box, border-box;" />
            </div>



        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal scale-in-center" id="lightbox" role="dialog" tabindex="-1" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog modal-xl" role="document">
    <div class="modal-content position-relative collage-border p-0 m-0 border-none">
        <button type="button" class="btn-close position-absolute top-0 start-0 z-2" data-bs-dismiss="modal"
            aria-label="Close"></button>
        <div id="indicators" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/6.jpeg" alt="First slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/7.jpeg" alt="Second slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/bombe1.jpeg" alt="Third slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/29.jpeg" alt="Fourth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/42.jpeg" alt="Fifth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/27.jpeg" alt="Sixth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/30.jpeg" alt="First slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/31.jpeg" alt="Second slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/32.jpeg" alt="Third slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/33.jpeg" alt="Fourth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/34.jpeg" alt="Fifth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/WhatsApp 2.jpeg" alt="Fifth slide">
                </div>
                
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/48.jpeg" alt="Fifth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/8.jpeg" alt="Fifth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/9.jpeg" alt="Fifth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/10.jpeg" alt="Fifth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/36.jpeg" alt="Fifth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/41.jpeg" alt="Fifth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/44.jpeg" alt="Fifth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/45.jpeg" alt="Fifth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/46.jpeg" alt="Fifth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/49.jpeg" alt="Fifth slide">
                </div>
                <div class="carousel-item h-100 w-100 row justify-content-center" >
                    <img class="img-fluid" src="/Vistas/adrian/galeria/Captura de pantalla 2024-07-04 095202.png" alt="Fifth slide">
                </div>
                <div class="carousel-item h-100 w-100 row justify-content-center">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/Captura de pantalla 2024-07-04 095216.png" alt="Fifth slide">
                </div>
                <div class="carousel-item h-100 w-100 row justify-content-center">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/Captura de pantalla 2024-07-04 095551.png" alt="Fifth slide">
                </div>
                <div class="carousel-item h-100 w-100 row justify-content-center">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/Captura de pantalla 2024-07-04 095603.png" alt="Fifth slide">
                </div>
                <div class="carousel-item h-100 w-100 row justify-content-center">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/50.jpeg" alt="Fifth slide">
                </div><div class="carousel-item h-100 w-100 row justify-content-center">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/47.jpeg" alt="Fifth slide">
                </div>  
            </div>
        </div>
    </div>

    <!--<div id="indicators" class="carousel slide" data-interval="false">
            <div class="carousel-inner">
                <div class="carousel-item active h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/6.jpeg" alt="First slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/7.jpeg" alt="Second slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/bombe1.jpeg" alt="Third slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/29.jpeg" alt="Fourth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/42.jpeg" alt="Fifth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/27.jpeg" alt="Sixth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/30.jpeg" alt="First slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/31.jpeg" alt="Second slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/32.jpeg" alt="Third slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/33.jpeg" alt="Fourth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/34.jpeg" alt="Fifth slide">
                </div>
                <div class="carousel-item h-100 w-100">
                    <img class="img-fluid" src="/Vistas/adrian/galeria/WhatsApp 2.jpeg" alt="Fifth slide">
                </div>
            </div>
        </div>-->
</div>
</div>