<div class="vh-100 p-0 m-0">
    <app-encabezado></app-encabezado>
    <div class="bg-red">
        <div class="row gx-0 justify-content-center p-4 pb-5 vh-100 w-100">
            <div class="mb-3 text-light w-100 h-100">
                <h1>Nuestras Sedes</h1>
                <div class="w-100 h-100 pb-5">
                    <iframe class="w-100 h-100" src="https://app.powerbi.com/view?r=eyJrIjoiOTg4NGVhYTQtYzM3Mi00MWZlLTllMzYtZDU5ZTQ5MDNjOTkxIiwidCI6IjlkMTJiZjNmLWU0ZjYtNDdhYi05MTJmLTFhMmYwZmM0OGFhNCIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>
