<div class="vh-100 p-0 m-0">
    <app-encabezado></app-encabezado>
    <div class="row gx-0 p-5">
        <div class="col-12 col-md-6 text-center mt-5 pb-5 justify-content-center">
            <img class="bd-placeholder-img rounded-circle" width="200" height="200" src="https://drive.google.com/thumbnail?id=1z1nLwsmgjzOyYv0P0h_sXrdlfTnMjNW-&sz=w1000"
                alt="Escudo de teniente">
            <h2 class="fw-normal">TENIENTE</h2>
            <div class="pc">
                <p class="p-c p-5"> Este rango implica una mayor responsabilidad en la gestión de la estación y las
                    operaciones de emergencia. Los tenientes suelen supervisar turnos completos, coordinando las
                    actividades diarias, las respuestas a emergencias y asegurando que todos los procedimientos se
                    sigan
                    correctamente. También juegan un papel crucial en la planificación y ejecución de estrategias de
                    emergencia.</p>
            </div>
            <div><a class="btn btn-danger btn-lg" href="/teniente">Teniente</a></div>
        </div>
        <div class="col-12 col-md-6 text-center mt-5 pb-5 justify-content-center">
            <img class="bd-placeholder-img rounded-circle" width="200" height="200" src="https://drive.google.com/thumbnail?id=1hbhPZNrOD08bw_DbOA11o0R5E7v5eSTO&sz=w1000"
                alt="Escudo de sargento">
            <h2 class="fw-normal">SARGENTO</h2>
            <div class="pc">
                <p class="p-c p-5">Los sargentos tienen un nivel intermedio de responsabilidad y liderazgo. Su papel
                    incluye
                    la supervisión directa de los cabos y bomberos, asegurando que las políticas y procedimientos se
                    sigan correctamente. Además, los sargentos son responsables de la formación y el desarrollo
                    continuo
                    del personal, así como de la gestión de la logística y el mantenimiento de los equipos.</p>
            </div>

            <div><a class="btn btn-danger btn-lg" href="/sargento">Sargento</a></div>
        </div>
        <div class="col-12 col-md-6 text-center mt-5 pb-5 justify-content-center">
            <div class="w-100 row justify-content-center gx-0"> <hr class="w-50" style="border: 1px solid black;"></div>
            <img class="bd-placeholder-img rounded-circle" width="200" height="200" src="https://drive.google.com/thumbnail?id=10zJmSmmCpBKlO4If-_-uOFaKwSv2KKYB&sz=w1000"
                alt="Escudo de bomberos">
            <h2 class="fw-normal">CABO</h2>
            <div class="pc">
                <p class="p-c p-5"> Es un rango de supervisión inicial. Los cabos son responsables de liderar
                    pequeñas
                    unidades de bomberos, asegurando que las tareas diarias y las operaciones se realicen de manera
                    eficiente. Supervisan y asisten en la formación y el desarrollo de los bomberos a su cargo.</p>
            </div>
            <div class="mt-5"><a class="btn btn-danger btn-lg" href="/cabo">Cabo</a></div>   
        </div>
        <div class="col-12 col-md-6 text-center mt-5 pb-5 justify-content-center">
            <div class="w-100 row justify-content-center gx-0"> <hr class="w-50" style="border: 1px solid black;"></div>
            <img class="bd-placeholder-img rounded-circle" width="200" height="200" src="https://drive.google.com/thumbnail?id=16PJNfHwyQpl3qdC6yRay1o4F2uLSLsQS&sz=w1000"
                alt="Escudo de bomberos">
            <h2 class="fw-normal">BOMBEROS</h2>
            <div class="pc">
                <p class="p-c p-5">Un bombero es un profesional dedicado a la prevención, control y extinción de
                    incendios,
                    así como a la respuesta ante diversas emergencias. Además de extinguir incendios, realizan
                    operaciones de rescate en accidentes de tráfico, edificios colapsados y otras situaciones de
                    emergencia. Proveen primeros auxilios y atención médica básica en emergencias.</p>
            </div>

            <div><a class="btn btn-danger btn-lg" href="/bomberos">Bomberos</a></div>
        </div>
        
    </div>
</div>
