<div class="vh-100 p-0 m-0">
    <div class="h-auto mb-4">

        <!--Componente de Encabezado -->
        <app-encabezado/>

        <!--Carrousel -->
        <div class="w-auto pb-4 h-75">
            <div id="carouselExampleIndicators" class="carousel slide h-75 w-100 pb-3" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <!--botones de carrousel -->
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                    <!--Fin de imagenes de carrousel -->
                </div>
                <div class="carousel-inner h-100 w-100">
                    <!--imagenes de carousel -->
                    <div class="carousel-item h-100 w-100">
                        <img src="https://drive.google.com/thumbnail?id=1M_bvAPdCYpav5uvbMgcpRDvo2rnDrkLe&sz=w1000"
                            class="h-100 w-100 object-fit-fill">
                    </div>
                    <div class="carousel-item h-100 w-100">
                        <img src="https://drive.google.com/thumbnail?id=1AFihWA5Rbn9hcuUNOvU63DY8iXz1pPDL&sz=w1000" class="d-block h-100 w-100"
                            alt="...">
                    </div>
                    <div class="carousel-item h-100 w-100">
                        <img src="https://drive.google.com/thumbnail?id=15AuVBVjL3OFFPtEb9_5PSxVHwYh0nyFG&sz=w1000"
                            class="d-block h-100 w-100" alt="...">
                    </div>
                    <div class="carousel-item h-100 w-100 active">
                        <img src="https://drive.google.com/thumbnail?id=1zZ8yOzFlt0NPlbswWBrCZufnNkzrKV4n&sz=w1000" class="d-block h-100 w-100" alt="...">
                    </div>
                    <!--fin de imagenes de carrousel -->
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!--Fin de carrousel-->

    </div>

    <!--Infomacion de linea de emergencia -->
    <div class="bg-red container-fluid bg-danger py-4 text-center mt-3">
        <div class=" ">
            <h2 class="text-white fw-bold mb-0">LINEAS DE ATENCION Y DATOS DE EMERGENCIAS</h2>
            <h1 class="text-white display-1 fw-bold mb-4"><a href="tel:+119" class="number">119</a></h1>
            <h2 class="text-white fw-bold mb-0">LLAME AQUI</h2>
        </div>
    </div>
    <!--Fin de infomacion de linea de emergencia -->


    <!--Seccion final -->
    <div class="h-100 w-100 gx-0 mt-3">
        <!--Redes sociales -->
        <div class="p-4 h-auto mb-5">
            <h2 class="fs-3 mb-3">Siguenos en nuestras redes sociales</h2>
            <div class="d-flex align-items-start h-auto">
                <div class="nav bg-white flex-column nav-pills me-3 w-auto gap-3" id="v-pills-tab" role="tablist"
                    aria-orientation="vertical">
                    <!--Instagram btn-->
                    <button class="nav-link instagram active" id="v-pills-home-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home"
                        aria-selected="true"><i class="fa-brands fa-instagram fa-2xl"></i></button>
                    <!--Facebook btn-->
                    <button class="nav-link facebook" id="v-pills-profile-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile"
                        aria-selected="false"><i class="fa-brands fa-facebook-f fa-2xl"></i></button>
                    <!--Twiter btn-->
                    <button class="nav-link twiter" id="v-pills-disabled-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-disabled" type="button" role="tab" aria-controls="v-pills-disabled"
                        aria-selected="false"><i class="fa-brands fa-twitter fa-2xl"></i></button>
                    <!--Youtube btn-->
                    <button class="nav-link" id="v-pills-messages-tab" data-bs-toggle="pill"
                        data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages"
                        aria-selected="false"><i class="fa-brands fa-youtube fa-2xl"></i></button>
                </div>
                <div class="tab-content bg-red h-auto rounded-5 border row gx-0 justify-content-center align-content-center w-100"
                    id="v-pills-tabContent">
                    <!--Instagram -->
                    <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel"
                        aria-labelledby="v-pills-home-tab" tabindex="0">
                        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core
                            defer></script>
                        <div class="elfsight-app-e9c8b321-7202-41a1-a80c-d95250724bbd" data-elfsight-app-lazy></div>
                    </div>
                    <!--Facebook -->
                    <div class="tab-pane fade" id="v-pills-profile" role="tabpanel"
                        aria-labelledby="v-pills-profile-tab" tabindex="0">
                        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core
                            defer></script>
                        <div class="elfsight-app-d86d709f-5f95-4597-a1d0-65bc976a8e75" data-elfsight-app-lazy></div>
                    </div>
                    <!--Twiter -->
                    <div class="tab-pane fade" id="v-pills-disabled" role="tabpanel"
                        aria-labelledby="v-pills-disabled-tab" tabindex="0">
                        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core
                            defer></script>
                        <div class="elfsight-app-c93a249d-ba79-46ed-acab-dcb563df4652" data-elfsight-app-lazy></div>
                    </div>
                    <!--Youtube -->
                    <div class="tab-pane fade" id="v-pills-messages" role="tabpanel"
                        aria-labelledby="v-pills-messages-tab" tabindex="0">
                        <script src="https://static.elfsight.com/platform/platform.js" data-use-service-core
                            defer></script>
                        <div class="elfsight-app-ecb593fd-2905-4dbc-a39a-3baea60f3f23" data-elfsight-app-lazy></div>
                    </div>
                </div>
            </div>
        </div>
        <!--Fin de redes sociales -->

        <!--Footer informacion -->
        <app-footer/>
        <!--Fin de Footer informacion -->
    </div>
</div>