<div class="vh-100 p-0 m-0">
    <app-encabezado></app-encabezado>
    <div class="bg-red">
        <div class="row gx-0 justify-content-center h-auto pb-5">
            <div class=" px-5 w-75 bg-light" style="height: max-content;">
                <div class="pt-5">
                    <div class="text-center m-2">
                        <h2>PASO A PASO PARA VISTO BUENO PARA EVENTOS MASIVO </h2>
                    </div>
                    <div class="row mt-4 gx-0 justify-content-center w-100 gap-3 align-content-center">
                        <div class="col-md-5 m-2 h-75">
                            <img src="https://drive.google.com/thumbnail?id=13L-1I-4b85f8wJLtc7HOtIdyOUyNgx-H&sz=w1000"
                                class="borde rounded-5 w-100 h-100">
                        </div>
                        <div class="col-md-5 m-2 h-75">
                            <img src="https://drive.google.com/thumbnail?id=1-FaegRTEN3lkMwhgnxuOtK_c7TbDg739&sz=w1000"
                                class="borde rounded-5 w-100 h-100">
                        </div>
                        <div class="col-md-5 m-2 h-75">
                            <img src="https://drive.google.com/thumbnail?id=1-5C1_HYIzA-U6sQUpcWITNklwVyzYnNn&sz=w1000"
                                class="borde rounded-5 w-100 h-100">
                        </div>
                        <div class="col-md-5 m-2 h-75">
                            <img src="https://drive.google.com/thumbnail?id=1cnhx8vvg9M3X9ncpIFR_fMPITt_LuYtE&sz=w1000"
                                class="borde rounded-5 w-100 h-100">
                        </div>
                        <div class="col-md-5 m-2 h-75">
                            <img src="https://drive.google.com/thumbnail?id=1Z-nT9X46TBXbPjBTtSPVs0XooHVb6lrC&sz=w1000"
                                class="borde rounded-5 w-100 h-100">
                        </div>
                    </div>

                    <div class="row custom-line mt-5 gx-0 justify-content-center w-100 gap-3 align-content-center"
                        style="height: 60vh;">
                        <div class="col m-0 h-75">
                            <iframe src="https://www.youtube.com/embed/zNiqOGMJnXo"
                                title="PASOS PARA VISTO BUENO DE BOMBEROS DE EVENTOS MASIVOS" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
                                class="borde w-100 h-100"></iframe>

                        </div>
                        <div class="col m-0 h-75">
                            <iframe src="https://www.youtube.com/embed/cwkEy1VJcIY"
                                title="PASO A PASO PARA REALIZAR TU TRAMITE" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="borde w-100 h-100"></iframe>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>