<div class="vh-100 p-0 m-0">
    <app-encabezado></app-encabezado>
    <div class="bg-red">
        <div class="row gx-0 justify-content-center h-auto pb-5">
            <div class=" px-5 w-75 bg-light" style="height: max-content;">
                <div class="pt-5">
                    <div class="text-center m-2">
                        <h2>PASO A PASO PARA VISTO BUENO PARA EVENTOS MASIVO </h2>
                    </div>
                    <div class="row mt-4 gx-0 justify-content-center w-100 gap-3 align-content-center">
                        <div class="col-md-5 m-2 h-75">
                            <img src="https://www.dropbox.com/scl/fi/uo6up5ja9a7pasvwqw2o0/PASO-1.jpg?rlkey=bccmx4twfma2pucm9rdqi9mfn&st=b1vw646x&raw=1"
                                class="borde rounded-5 w-100 h-100">
                        </div>
                        <div class="col-md-5 m-2 h-75">
                            <img src="https://www.dropbox.com/scl/fi/4kcyvi7097djwl40plb5q/PASO-2.jpg?rlkey=1vd0w2kx5vtqp88qrv99vzjhx&st=g21zfm6o&raw=1"
                                class="borde rounded-5 w-100 h-100">
                        </div>
                        <div class="col-md-5 m-2 h-75">
                            <img src="https://www.dropbox.com/scl/fi/5n8cvcd10uuih262g9xfo/PASO-3.jpg?rlkey=2ibwhgqxkg5mja78xs51bp5l4&st=51jxkhvq&raw=1"
                                class="borde rounded-5 w-100 h-100">
                        </div>
                        <div class="col-md-5 m-2 h-75">
                            <img src="https://www.dropbox.com/scl/fi/2gvuowu7minae1c7cwqfk/PASO-4.jpg?rlkey=oh0uqbme1rlpig64cgqyr823t&st=2mbcva86&raw=1"
                                class="borde rounded-5 w-100 h-100">
                        </div>
                        <div class="col-md-5 m-2 h-75">
                            <img src="https://www.dropbox.com/scl/fi/skrp9bwpu7xyq4dkcc6oq/PASO-5.jpg?rlkey=fp9kdmuqaapawupic8za2wb6m&st=qr8qdat5&raw=1"
                                class="borde rounded-5 w-100 h-100">
                        </div>
                    </div>

                    <div class="row custom-line mt-5 gx-0 justify-content-center w-100 gap-3 align-content-center"
                        style="height: 60vh;">
                        <div class="col m-0 h-75">
                            <iframe src="https://www.youtube.com/embed/zNiqOGMJnXo"
                                title="PASOS PARA VISTO BUENO DE BOMBEROS DE EVENTOS MASIVOS" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen
                                class="borde w-100 h-100"></iframe>

                        </div>
                        <div class="col m-0 h-75">
                            <iframe src="https://www.youtube.com/embed/cwkEy1VJcIY"
                                title="PASO A PASO PARA REALIZAR TU TRAMITE" frameborder="0"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="borde w-100 h-100"></iframe>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</div>