<div class="vh-100 p-0 m-0">
    <app-encabezado></app-encabezado>
    <div class="bg-red">
        <div class="row gx-0 justify-content-center p-4 pb-5">
            <div class="mb-3 text-light">
                <h1 class="text-center">Video instructivo</h1>
            </div>
            <iframe width="1280" height="737" src="https://www.youtube.com/embed/WycT1XbWtzY" title="Paso a paso para la ejecucion de los tramites" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
        <app-footer></app-footer>
    </div>
</div>
