<app-encabezado></app-encabezado>
<div class="row gx-0 justify-content-center mb-5 pb-5">
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=15WGahUzG70A_ywiA-cnyaPiAEj86y9Qk&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3s">ALEJANDRO MOUTHON VELASQUEZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1dH9jqHvhn7ZjrTZxYUfvbMmVLj4O0Dio&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3s">JOSE DIONISIO CASTILLA ALVAREZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://img.freepik.com/fotos-premium/bombero-casco-frente-al-fuego-buscando-agotado_1032596-50.jpg"
            alt="">
        <h2 class="fw-normal mt-3s">OSCAR SUAREZ CABRERA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1OEv5g8KxJdNfhXRTlqitOT8D8kDQwKTB&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3s">RONALD SEPULVEDA ORTIZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1jcrIUryDrH30ufgy0CWJz27m56NZMLUQ&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3s">DANIEL ADARRAGA JULIO</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="150" height="150"
            src="https://drive.google.com/thumbnail?id=1TWG02iqac7Rg5ITETJ6xvcfgTJJguy6T&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3s">JOSE AUGUSTO ALARCON CASTRO</h2>

    </div>
</div>
<app-footer></app-footer>
