<app-encabezado></app-encabezado>
<div class="row gx-0 justify-content-center mb-5 pb-5">
    <div class="col-lg-4 text-center mt-5">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/ef34qmwskpml4kcad36vv/ALEJANDRO-MOUTHON.jpeg?rlkey=yvbyuwlbtv6rz4chw45yxpu62&st=5l3crjlz&raw=1"
            alt="">
        <h2 class="fw-normal mt-3s">ALEJANDRO MOUTHON VELASQUEZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/p66wcqgsecrs6qft1hqzw/JOSE-DIONISIO-CASTILLA.jpeg?rlkey=vvwdgikdx1tmk0rk06f5dhn1v&st=pj89x0gj&raw=1"
            alt="">
        <h2 class="fw-normal mt-3s">JOSE DIONISIO CASTILLA ALVAREZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://img.freepik.com/fotos-premium/bombero-casco-frente-al-fuego-buscando-agotado_1032596-50.jpg"
            alt="">
        <h2 class="fw-normal mt-3s">OSCAR SUAREZ CABRERA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/z62ad1ur88gss669s2zl9/RONAL-SEP-LVEDA.jpeg?rlkey=8b1urk1ufrqxo9nrofx2tecfp&st=nw2wsohn&raw=1"
            alt="">
        <h2 class="fw-normal mt-3s">RONALD SEPULVEDA ORTIZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/nffoy13huto21bhr3ryar/DANIEL-ADARRAGA.jpg?rlkey=5my95rixj9djsejncwnalt5xs&st=cdi2unir&raw=1"
            alt="">
        <h2 class="fw-normal mt-3s">DANIEL ADARRAGA JULIO</h2>

    </div>
    <div class="col-lg-4 text-center mt-5">
        <img class="bd-placeholder-img rounded-circle" width="150" height="150"
            src="https://www.dropbox.com/scl/fi/pta4t473lzf8fjunarl8e/JOSE-ALARCON.jpeg?rlkey=xz8m7n2ebqejcqmgdkj7sqsam&st=7aycjvkj&raw=1"
            alt="">
        <h2 class="fw-normal mt-3s">JOSE AUGUSTO ALARCON CASTRO</h2>

    </div>
</div>
<app-footer></app-footer>
