<app-encabezado></app-encabezado>
<div class="row gx-0 justify-content-center mb-5 pb-5">
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1GJUfuy7PYuADDmPiF4W-cCtshtqelBaY&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JORGE LUIZ DOMINGEZ PRADA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1GuQlq-z6wJpVgfWI__row_5wZkmTfRZn&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">RUBEN DARIO MONTOYA ARENAS</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1LIPSb1q3duYbN0X8zA7tLcT2rLsaL7QM&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">EUGENIO SALGADO PEREZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://img.freepik.com/fotos-premium/bombero-casco-frente-al-fuego-buscando-agotado_1032596-50.jpg"
            alt="">
        <h2 class="fw-normal mt-3">ANGEL SAMPAYO PEDROSA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://img.freepik.com/fotos-premium/bombero-casco-frente-al-fuego-buscando-agotado_1032596-50.jpg"
            alt="">
        <h2 class="fw-normal mt-3">JOSE AGUILAR SALGADO</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=13n_83OA2fAGPjplMgTAp35MdGwCgNDey&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JORGE NAVARRO GUZMAN</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1JyBf9eoVa3BpmJuN9yIq5m_-qVTP82nV&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">LUIS LUGO MEDINA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1vQ9-m7L4T7ubMGAZ2NJeiIClJjQbi-Jj&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">HECTOR PALACIO PRADO</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1UwVlfkd1KwZEa0WrhEolbQQCKWijlNHB&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">EDWIN FLOREZ CUENTAS</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1hMPhSQ2fSqvWsL0lxdDxRTG3g0RDkitf&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">LEVINTON VANEGAS CASSIANI</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1slxuhCPdZGH5biNge6b-a4Hz1ON1Wc6z&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">ENRIQUE VILLA SUAREZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1DZtWTEqI2hn5RmS8i0azQSyI_UdhtKEH&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">EDWIN GONZALES SARMIENTO</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1zxPE9UUbTCbEnNqn2iQ0U_OCXLlHXTbQ&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">ALEIDER ORTEGA DIAZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=17DIrP-AILdrGthLRlyoKxsFBLPY9o0ef&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JAIR CARABALLO SEPULVA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://img.freepik.com/fotos-premium/bombero-casco-frente-al-fuego-buscando-agotado_1032596-50.jpg"
            alt="">
        <h2 class="fw-normal mt-3">JOBANY CUADRO GAVIRIA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1umHFaoEtm6H2QSD1GymM96VkspyBq3Yb&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">ALVARO CONRADO VALDERAMAR</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1IiLnpy8nk8l1nmTbJYquXyAhtMxF5p_B&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">ANTONY YVAN PINEDA LOPEZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1VPW_-A1CMs74jGQwK5J28WQG2yvoTilB&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">FRANCISCO GUZMAN CORTECERO</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1KP04Ehdanbr9GaK9hzeyB20SD9uA_mrA&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">LUIS EDUARDO PADILLA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1B--MWQWIF2afEj2y1e6sTUvrpUeZEqGu&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JHON ERICK CARDONA KELLY</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1jrFhZk7QlZB-d4-cFVEyQBguIU3Fx8pO&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JORGE PEREZ MARIN</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1A_mgveQWnOO8dNqr2aanOmrR6hJLI9qx&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">RONALD PUERTAS ALCALA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1EYuctm781mnTq_8WQYCWjLkoQCNGFskX&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">HORACIO MELENDEZ AGUILAR</h2>

    </div>
</div>
<app-footer></app-footer>
