<app-encabezado></app-encabezado>
<div class="row gx-0 justify-content-center mb-5 pb-5">
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/55jcqx16c63z40zqapw1b/JORGE-LUIS-DOMINGUEZ.jpeg?rlkey=ngjjqqlls8k86w3b43ihaqstg&st=0ep30skc&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">JORGE LUIZ DOMINGEZ PRADA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/u43j93dljcrtb9jfut9wh/RUBEN-MONTOYA.jpeg?rlkey=h47j8rd1yofpqr6l32mkoy8ge&st=fjbys4nq&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">RUBEN DARIO MONTOYA ARENAS</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/n4wi7jtwo9qoex3fzhg49/EUGENIO-SALGADO.jpeg?rlkey=on5fk09pmdb8s25iaf075ehlr&st=zkgur4cm&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">EUGENIO SALGADO PEREZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://img.freepik.com/fotos-premium/bombero-casco-frente-al-fuego-buscando-agotado_1032596-50.jpg"
            alt="">
        <h2 class="fw-normal mt-3">ANGEL SAMPAYO PEDROSA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://img.freepik.com/fotos-premium/bombero-casco-frente-al-fuego-buscando-agotado_1032596-50.jpg"
            alt="">
        <h2 class="fw-normal mt-3">JOSE AGUILAR SALGADO</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/uepldpe53rbda4vdtrzoc/JORGE-NAVARRO.jpeg?rlkey=vmyc8d9cz9a7t085wvzru5noe&st=ywmyav3i&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">JORGE NAVARRO GUZMAN</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/cl6wyej49l9qyz0ad521u/LUIS-LUGO.jpeg?rlkey=3w9gizto72figkic9pxfs1v6e&st=lc2x1nmx&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">LUIS LUGO MEDINA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/ut82gew52jqyz1olj2j3b/HECTOR-PALACIO.jpeg?rlkey=skgp2kx200io91o4und0448e1&st=oy05ym1b&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">HECTOR PALACIO PRADO</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/th666eqam33dgngyu0pfj/EDWIN-FLOREZ.jpeg?rlkey=oppc3gwp44v590w62fwo4tlvs&st=d7xi29b1&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">EDWIN FLOREZ CUENTAS</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/tzcddyeq8vo18o98lam1s/LEVINTON-VANEGAS.jpeg?rlkey=2zpyo079leq5gu8rb6gg0e1i1&st=negg7p9v&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">LEVINTON VANEGAS CASSIANI</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/3v1lfp4t4bid7i8ou43te/ENRIQUE-VILLA.jpg?rlkey=i6pn4p8uc0mj3f1ocgt9k2r1k&st=6qgjhu8r&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">ENRIQUE VILLA SUAREZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/on5j8rlmt97h26wi1inu3/EDWIN-GONZALEZ.jpg?rlkey=aloiubm43dn269kf7qa0uy8jx&st=8bujh5cb&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">EDWIN GONZALES SARMIENTO</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/sus25gpx8cwtdkv115zzl/ALEYDER-ORTEGA.jpg?rlkey=qgzj47jdy15kmld27xmobik5e&st=1acglx1f&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">ALEIDER ORTEGA DIAZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/eks88k8xw6e17lepg04u1/JAIR-CARABALLO.jpg?rlkey=7oba0qtmhvt9ljhgb7ghr5pie&st=w0izxiwp&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">JAIR CARABALLO SEPULVA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://img.freepik.com/fotos-premium/bombero-casco-frente-al-fuego-buscando-agotado_1032596-50.jpg"
            alt="">
        <h2 class="fw-normal mt-3">JOBANY CUADRO GAVIRIA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/50i5p24jp4o8t62q6yu7b/ALVARO-CONRADO.jpeg?rlkey=i9mib6oa1w20p76e08oz5stmg&st=m8sskf9h&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">ALVARO CONRADO VALDERAMAR</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/kk10bch9mz50pdbfxvsva/ANTONY-PINEDA.jpeg?rlkey=l35vokblgl7ljxoojzkf3rfr2&st=hczk1awu&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">ANTONY YVAN PINEDA LOPEZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/1ik31kvt2k3e4ut838uu2/FRANCISCO-GUZMAN.jpeg?rlkey=808fmcv8k8hfe69t85aee17lt&st=1xc11ong&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">FRANCISCO GUZMAN CORTECERO</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/ruf4u6c2f6aywp5dtrm57/LUIS-PADILLA.jpeg?rlkey=vae0yjptdal2jv0wj25m08zbe&st=5umv9e2r&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">LUIS EDUARDO PADILLA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/ym53j5wfffdhoh0dub8bl/JHON-CARDONA.jpeg?rlkey=wfjeq9piryv6b7umv3dekrafu&st=buzxy4k1&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">JHON ERICK CARDONA KELLY</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/94pkac76k1drqj1ipk090/JORGE-P-REZ.jpeg?rlkey=p3dmpygyamh63793r37mtct8y&st=9fzlab1i&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">JORGE PEREZ MARIN</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/nivy13tc6rupc4ilzr71y/RONALD-PUERTAS.jpeg?rlkey=v74t4ysfl6i5vbddlivaqu7ka&st=82h0o1kc&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">RONALD PUERTAS ALCALA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/bu2afkty5l997w5qcsh9m/HORACIO-MELENDEZ.jpeg?rlkey=b72245ifywahbl9f6c74x9v8p&st=kbirk7cp&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">HORACIO MELENDEZ AGUILAR</h2>

    </div>
</div>
<app-footer></app-footer>
