<div>
    <header class="w-100 head-gov" style="height: 7%;">
        <div class="h-100 ms-5" style="width: 15%;">
            <a class="h-100" style="width: 50%;" href="https://www.gov.co">
                <img class="imgGov h-100 w-75" src="https://www.dropbox.com/scl/fi/248cvsjyxp5jzzeurifbr/logob.png?rlkey=5p0ohv5glwnp1ttmezwcd05b3&st=duri7lig&raw=1" alt="">
            </a>
        </div>
    </header>
    <div
        class="container-fluid row gx-0 justify-content-between align-items-center bg-img margin-bottom: 0px;">
        <div class="col-md-3 row gx-0 justify-content-center h-100 z-2">
            <div class="col h-100 gx-0 p-0 m-0 row gx-0 justify-content-center align-content-start">
                <div class="h-75 align-content-start row justify-content-center" style="width: 45%;">
                    <img class="img-fluid" style="max-width: 80% !important;" src="https://www.dropbox.com/scl/fi/yr02t8k62xzm7c01vbpv6/bomberos.png?rlkey=bqef88g5rfiz5cfgouqci7ade&st=4ohlrqbe&raw=1" alt="">
                </div>
            </div>
        </div>
        <div class="col input-group mb-3 w-auto align-items-start m-0 h-100 z-2">
            <div class="col w-auto align-content-center text-center">
                <h1 class="w-100 fw-bold title text-personalizado">Cuerpo de Bomberos</h1>
                <h2 class="fs-2 w-auto subtitle text-personalizado">Cartagena de Indias D. T. y C.</h2>
            </div>
        </div>

        <div class="col-md-3 h-100 row gx-0 justify-content-center align-content-start image-container z-2">
            <div class="h-50 align-content-start" style="width: 35%;">
                <img src="https://www.dropbox.com/scl/fi/dkx55gqquayxfvexm7vql/alcaldialog.png?rlkey=om5ztd5zl1uajpjak5exobfp8&st=jvm33l0i&raw=1" class="img-fluid">
            </div>
        </div>
    </div>

    <div class="mt-0">
        <header class="">
            <nav class="nav-tabs navbar navbar-expand-lg bg-body-tertiary p-0">
                <div class="container-fluid justify-content-center">
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center"
                        id="navbarSupportedContent">
                        <ul class="navbar-nav mb-2 mb-lg-0 justify-content-center">
                            <li class="nav-item">
                                <a class="nav-link rounded-0 align-content-center p-4 w-100 h-100" aria-current="page"
                                    href='/home'>Inicio</a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item dropdown dropdown-center">
                                <a class="nav-link rounded-0 dropdown-toggle align-content-center p-4 w-100 h-100"
                                    href="#" aria-expanded="false">Nuestra
                                    Institucion</a>
                                <ul class="dropdown-menu rounded-0 dropdown-menu-end">
                                    <li><a class="dropdown-item"
                                            href="/quienes">Quienes
                                            somos</a></li>
                                    <li><a class="dropdown-item"
                                            href="/localizaciones">Sedes
                                            y
                                            Localizaciones</a></li>
                                    <li><a class="dropdown-item"
                                            href="/rangos">Personal</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                            href="/organigrama">Organigrama</a>
                                    </li>
                                    <li><a class="dropdown-item"
                                        href="/mapa">Mapa de Riezgos</a></li>

                                </ul>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item dropdown dropdown-center">
                                <a class="nav-link rounded-0 dropdown-toggle align-content-center p-4 w-100 h-100"
                                    href="#" aria-expanded="false">Tramites y
                                    Servicios</a>
                                <ul class="dropdown-menu rounded-0 dropdown-menu-end">
                                    <li><a class="dropdown-item"
                                            href="/instructivo">Video
                                            instructivo</a></li>
                                    <li><a class="dropdown-item"
                                            href="https://sigob.cartagena.gov.co/Tramites/ciudadano/#/inicio">Entrar
                                            a
                                            Tramites y servicios</a></li>

                                </ul>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link rounded-0 align-content-center p-4 w-100 h-100"
                                    href="/rangos">Rangos</a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link rounded-0 align-content-center p-4 w-100 h-100"
                                    href="/bomberitos">Bomberitos Comunitarios</a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link rounded-0 align-content-center p-4 w-100 h-100"
                                    href="/Vistas/adrian/galeria/Galeria.html">Galeria</a>
                            </li>
                            <div class="vr"></div>
                            <li class="nav-item">
                                <a class="nav-link rounded-0 align-content-center p-4 w-100 h-100"
                                    href="/prevencion">Prevención
                                    y Seguridad</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
    </div>
</div>