<div class="bg-red">
    <app-encabezado></app-encabezado>
    <div class="row gx-0 justify-content-center h-auto pb-5 rounded-3">
        <div class="py-3 px-5 col col-md-10" style="height: max-content; background-color: #ffffff;">
            <div class="row gx-0 justify-content-center">
                <div class="modal-body gallery" id="gallery">
                    <img class="borde"
                        src="https://drive.google.com/thumbnail?id=1NKSRheFKdFazKtddUTlkSzhREIO-jlyJ&sz=w1000"
                        alt="">
                    <img class="borde"
                        src="https://drive.google.com/thumbnail?id=1oyRHGmu8nnYPtRRCCeYH9pTGx3Lv_tYj&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=16YfPADrRjtpNyzoHwGnvG3y8-iB_JnSf&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=16YfPADrRjtpNyzoHwGnvG3y8-iB_JnSf&sz=w1000"
                        alt="">
                    <img class="borde"
                        src="https://drive.google.com/thumbnail?id=1HvIL8YwgPFAaKiJZ-SmJx6VfI9eB8yb4&sz=w1000"
                        alt="Imagen 1">
                    <img class="borde"
                        src="https://drive.google.com/thumbnail?id=1eyn-BGAQmJqDC_DdQ4rpdyVhfhl5x57s&sz=w1000"
                        alt="Imagen 2">
                    <img class="borde"
                        src="https://drive.google.com/thumbnail?id=1UVyIva9S_npoLuTBa27k8Fm5uaTnrZoh&sz=w1000"
                        alt="Imagen 3">
                    <img class="borde"
                        src="https://drive.google.com/thumbnail?id=1r_hpnKRgicV0Ft5h0pokZCWqercF05dZ&sz=w1000"
                        alt="Imagen 4">
                    <img class="borde"
                        src="https://drive.google.com/thumbnail?id=1VnhZUpT1McxuMx2Mz7NknDTV1j744Dpd&sz=w1000"
                        alt="Imagen 5">
                    <img class="borde"
                        src="https://drive.google.com/thumbnail?id=1qEGxUXBgXFexbIWfhvClgRNawXci3zQA&sz=w1000"
                        alt="Imagen 6">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1sY8eim45DI8TB7HfK3Z8eQarcJwYPMzd&sz=w1000"
                        alt="Imagen 7">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1nb_VA0HuCjr28ERzaYVK5Fv93IE1hGhQ&sz=w1000"
                        alt="Imagen 8">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1p7ra5kgtqRokKNKezJKUgI5MjC_QBICg&sz=w1000"
                        alt="Imagen 9">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1I5u2BStPkXUeVeotOuKmudFknDrnOPr0&sz=w1000"
                        alt="Imagen 10">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1ZQyJhjmRdcBCMY3Q-_49GOLPlwrFvI9E&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1p4rrhVYexvdnbr1xlx77zWLETI3AbGQj&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=17pjyfheznolZRw4bcU5aGHTCAiyIFLWW&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1ZTOws9bFgTk8UxFBxSO48e_-Fj3-Sn4O&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1sKhNSifscYl_mX5ipbubL4qqxgQKJvlf&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1YHhLOtnno_nkit_2k6cy5A6XdB2XSI_L&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1gKHHhxjhMqxJ8NxRQarqhEFZC0rCu8dG&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=17T8C-WqUaFUlhq9wxxSulpd4-wEY3MUO&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1ORf6uf543iPFmUYCcv5lBFtWY2iCrw3K&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=102_ZFeRVcvLV4QRBBxaDEIJ_Iz4K-pq_&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1CRUKcEd4XG5HlH8OkN5p0x4k2TTf5p0F&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=19bJg55OWbzLzDxjitQHLy4zCrlqFq4rG&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1Igjtp50SSFBTmpMAQ_e7yigNYxIg7KLk&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1JyTFpO-0jAHxcjsgp4zAalxEaAprhggw&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1pKDORvSKOGq7Fvdd_fEDIuEHjnXNvSYp&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1j4F0Nc-wX988RiuvTW_PJh_zfD8G1IM5&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1g_4Fw2bQ9AJhTBZp1c7lNTyUN7VSuVsl&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1mrwtJOJeaIDYVpqnmz8_nMkPxn6oyD5M&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1HjW9J1tPwGL1nP19fQakrF14l9U5p95A&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=14JC_AeqQhtEFa1bQ_qPfDM55m9yGb2fD&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=1CxwX-v6sYBQ3cKaj4FUkjWYE1TEch4xD&sz=w1000"
                        alt="">
                    <img class="borde hidden"
                        src="https://drive.google.com/thumbnail?id=12_VZIUW4VC-tR9NMubJdZNYt6hzapOvD&sz=w1000"
                        alt="">

                </div>
                <button class="fs-5 text-warp w-auto h-auto mt-5 p-4 borde" id="loadMoreBtn">Ver más</button>

            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>