<div class="bg-red">
    <app-encabezado></app-encabezado>
    <div class="row gx-0 justify-content-center h-auto pb-5 rounded-3">
        <div class="py-3 px-5 w-75" style="height: max-content; background-color: #ffffff;">
            <div class="row gx-0 justify-content-center">
                <div class="modal-body gallery" id="gallery">
                    <img class="borde"
                        src="https://www.dropbox.com/scl/fi/n8n20bb1r1ktifv1mrxio/Bomberitos-2.jpg?rlkey=d2ipaxn3ybmqzpvmbzli521w8&st=jpl4owbw&raw=1"
                        alt="">
                    <img class="borde"
                        src="https://www.dropbox.com/scl/fi/bmznwd9tfauacjgnosysu/Bomberitos-4.jpg?rlkey=pyc4siwl2sugsneuj59zmutao&st=ip9nps2x&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/7ejf3xb5iy9tnv3kl91mp/Bomberitos-5.jpg?rlkey=zspopcyc9e58brs92ss89g5ru&st=rlz9jzlh&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/zvi9bqw4en8cldjs9ka2h/dia-2.jpg?rlkey=rbq4zed0dah390htgmkptds7s&st=pftqpmyl&raw=1"
                        alt="">
                    <img class="borde"
                        src="https://www.dropbox.com/scl/fi/gsxft8dv6mhnxou8gv8sm/13.jpeg?rlkey=naolzfnpyr5f41rh8ragrla0q&st=qf8n38vn&raw=1"
                        alt="Imagen 1">
                    <img class="borde"
                        src="https://www.dropbox.com/scl/fi/8ltz6cycqunwslgiuyqhs/11.jpeg?rlkey=ygcgusym9gshlm66sxd8zvas7&st=ujymf7il&raw=1"
                        alt="Imagen 2">
                    <img class="borde"
                        src="https://www.dropbox.com/scl/fi/ri3rpgd338bn7l57emgxk/14.jpeg?rlkey=lrwag2qowllg96lelk7l28w0j&st=fu89x95e&raw=1"
                        alt="Imagen 3">
                    <img class="borde"
                        src="https://www.dropbox.com/scl/fi/ru0l01wog74agjhnww88c/15.jpeg?rlkey=4lnic5963ok039hrrxz7cfbae&st=d66pbqrt&raw=1"
                        alt="Imagen 4">
                    <img class="borde"
                        src="https://www.dropbox.com/scl/fi/hktxe6bq0xkploydlgq5a/16.jpeg?rlkey=3xjr2quo3d8po87t8qy2sfddk&st=z21lu5bo&raw=1"
                        alt="Imagen 5">
                    <img class="borde"
                        src="https://www.dropbox.com/scl/fi/qyg5zywhai44fhyu0l2oy/17.jpeg?rlkey=vct7zg1syxoq1ggxxnnqwe29j&st=k7a3psbl&raw=1"
                        alt="Imagen 6">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/62bztof3n3mls1cnf6pon/18.jpeg?rlkey=eh7v1vxql46bssbpr2v0iekhm&st=z804y5ui&raw=1"
                        alt="Imagen 7">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/ollkexq98lgt44tw8jr8o/19.jpeg?rlkey=g7ew25rcaqchtmzf5nzyauq4x&st=tsirhzcb&raw=1"
                        alt="Imagen 8">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/lg646rpmb386vqeiw2xdx/20.jpeg?rlkey=20axsk6m1nmgktgphiaxp0ff8&st=868jueg7&raw=1"
                        alt="Imagen 9">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/5umwrqz4941wt83jix26t/21.jpeg?rlkey=xz35x8rmlclpszbygnnjdv0vd&st=ow7d2kjf&raw=1"
                        alt="Imagen 10">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/5rr22x6jvswejj9zgvyei/22.jpeg?rlkey=qq4yp2llr37f0mzto8yj89q6a&st=u7ovyhpn&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/87p0okvppvf5gqjb6dzv1/23.jpeg?rlkey=5lwvyx6pzqvo0ey5b60bb5cz6&st=v5qg91ym&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/9dnvc9t6drsm8irln3los/24.jpeg?rlkey=q6hmxosiruy8uprqkv15pul8p&st=b7evliu5&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/88kjwky8pz5eh2tjxzzrf/Captura-de-pantalla-2024-06-29-134306.png?rlkey=lemd5jscgatvxjlncf8lowhum&st=13n0qmuf&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/lt51yo2uqi32a6kbai2gm/Captura-de-pantalla-2024-06-29-134344.png?rlkey=umiycvbwk1aah37isk7cm5j7m&st=wxur9qdi&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/vbmfa19vyfjarxol2f22d/Captura-de-pantalla-2024-06-29-134401.png?rlkey=ethpgfig3nfo7pz6vddcmqe17&st=310syma3&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/m7sa0q4fdm9y203i9veb5/Captura-de-pantalla-2024-06-29-134602.png?rlkey=w8cipuut7uqa47m962apukelg&st=885yk0fy&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/1iawgldh3423n55zwluv0/Captura-de-pantalla-2024-06-29-134616.png?rlkey=66cnxa39dlhx21xhbp0s1jqi9&st=gq8fzlhu&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/32yxxag8bgoba61spapyg/Captura-de-pantalla-2024-06-29-134624.png?rlkey=zwtt813y45cqg0subwa38g6nb&st=t67p66fn&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/no73if33e3ksz68xtilqv/Captura-de-pantalla-2024-07-04-095232.png?rlkey=ltaal2cpwazcys8tpjk3az3cv&st=30p8i95n&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/39i13l4c7tyd9p6cicfcd/Captura-de-pantalla-2024-07-04-095246.png?rlkey=m4hiqjor5c3b4pietts9e1h7g&st=enxl0pqa&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/8sl32szk9dkngbc8171eu/Captura-de-pantalla-2024-07-04-095447.png?rlkey=mnx7yt0iupfajow3vyfdywgpv&st=jzey46bi&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/60wbirr41apks5y3pnw9k/Captura-de-pantalla-2024-07-04-095457.png?rlkey=491vxfpz5267ejfriagp7aitk&st=yb3lvyoa&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/vveuf1gaqraq9rqw66fkt/Captura-de-pantalla-2024-07-04-095510.png?rlkey=ki3o7o2a6f365y232rlsofnaq&st=2l6bl59z&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/f4jy60scom5mj9prbd7ci/Captura-de-pantalla-2024-07-04-095520.png?rlkey=mt6fez39477nhwduztg7pq0sx&st=paz4hoqi&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/bbt6pc5kzqkb9h1yymfyn/Captura-de-pantalla-2024-07-04-095539.png?rlkey=ve76ixn0qxiete022du7ovipv&st=5ierkvny&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/spg9o4upvt58mcyclrlra/Captura-de-pantalla-2024-07-04-095614.png?rlkey=yw5n5dpecyv3e9maoqkqm4gk3&st=jclrdjqi&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/krtv035lz9x476v166h2e/Captura-de-pantalla-2024-07-04-095623.png?rlkey=2xeqjo0nfasvnfl4ado3jl910&st=8bd9nd0c&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/esl82rarknsurd6w38l9o/Captura-de-pantalla-2024-07-04-095633.png?rlkey=orbxlaq29d0st6a9xx465k5bo&st=il445oep&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/yynr778epy0iuufdzvh41/Captura-de-pantalla-2024-07-04-095643.png?rlkey=1rgywlng7tadhig12w41movbu&st=8cuwl0zw&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/w5ab00yui34bsxc4wg7io/Captura-de-pantalla-2024-07-04-095657.png?rlkey=4pueu5z4v76hxoo4o344pg1gz&st=a201rzkq&raw=1"
                        alt="">
                    <img class="borde hidden"
                        src="https://www.dropbox.com/scl/fi/miyohb8hdhed5ihe8d8mf/Captura-de-pantalla-2024-07-04-095706.png?rlkey=xxg9r4yjwtp4ei9nvadvikwlj&st=dy03o69h&raw=1"
                        alt="">

                </div>
                <button class="fs-5 text-warp w-auto h-auto mt-5 p-4 borde" id="loadMoreBtn">Ver más</button>

            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>