<div class="h-auto row gx-0 justify-content-center align-items-end position-relative">
    <div class="h-auto w-75 bg-white border z-2">
        <div class="h-25 row gx-0 align-items-center px-5 pt-2">
            <div class="h-100 row gx-0 justify-content-center align-items-center" style="width: 15%;">
                <img src="https://www.dropbox.com/scl/fi/yr02t8k62xzm7c01vbpv6/bomberos.png?rlkey=bqef88g5rfiz5cfgouqci7ade&st=4ohlrqbe&raw=1" class="img-fluid">
            </div>
            <div class="text-end" style="width: 85%;">
                <p class="fs-2 fw-semibold text-wrap d-inline-flex">Cuerpo de Bomberos de Cartagena de
                    Indias</p>
            </div>
        </div>
        <div class="h-auto p-5 footer">
            <div class="h-75">
                <label class="fs-2 mb-2">Información general</label>
                <ul class="list-unstyled text-wrap">
                    <li><strong>Sede Principal</strong></li>
                    <li>Nit: 890-480-184-4 </li>
                    <li>linea de emeergencia: 119 </li>
                    <li>Telefono: 605 6421971 - 605 6421951</li>
                    <li class="mb-2">Direccion: 42, Cl. 13 #15, Provincia de Cartagena, Bolívar, Colombia,
                        Cartagena de Indias, Bolívar (Colombia) · 03 km</li>
                    <li><strong>Sede Santa Lucia</strong></li>
                    <li>Telefono: 605 6421957 – 605 6421947</li>
                    <li class="mb-2">Direccion: Dg. 31f #47-30, Santa Lucía, Cartagena de Indias, Provincia
                        de Cartagena, Bolívar</li>
                    <li><strong>Sede Bosque</strong></li>
                    <li>Telefono: 605 6421989 - 605 6421995</li>
                    <li class="mb-2">Direccion: Transversal 37, Dg. 21, Martínez Martelo, Provincia de
                        Cartagena, Bolívar</li>

                    <li><strong>Correos Electronicos</strong></li>
                    <li class="fw-semibold">Atencion al cliente</li>
                    <li>atencionalusuariobomberos1&#64;cartagena.gov.co</li>
                    <li class="mb-1">atencionalusuariobomberos2&#64;cartagena.gov.co</li>
                    <li class="fw-semibold">facturacion</li>
                    <li class="mb-2">facturacionbomberos&#64;cartagena.gov.co</li>

                    <li><strong>Horario de atencion administrativo</strong></li>
                    <li class="mb-5">Lunes a viernes de 8:00 a.m. - 12:00 p.m. / 2:00 p.m. - 4:00 p.m.</li>
                    <li class="mb-5 row gx-0 w-100 gap-4">
                        <a class="col flex-grow-0" href="#"><i
                                class="fa-brands fa-facebook-f"></i>&#64;Bomberos</a>
                        <a class="col flex-grow-0" href="#"><i
                                class="fa-brands fa-instagram"></i>&#64;Bomberos</a>
                        <a class="col flex-grow-0" href="#"><i
                                class="fa-brands fa-twitter"></i>&#64;Bomberos</a>
                        <a class="col flex-grow-0" href="#"><i
                                class="fa-brands fa-youtube"></i>&#64;Bomberos</a>
                    </li>
                </ul>
            </div>
            <div class="row gx-0 flex-column justify-content-end h-25">
                <div>Copyright © 2024-Derechos reservados - V.2.1</div>
            </div>
        </div>
    </div>
    <div class="bg-rojo row gx-0 justify-content-center align-items-center position-absolute z-1"
        style="height: 90%;"></div>
</div>