<app-encabezado></app-encabezado>
<div class="row gx-0 justify-content-center mb-5 pb-5">
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1P8yucwEaOTLNmLwgHIMwdPwLYu0SFWj-&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">ALVARO AREVALO NAVARRO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1w7OjNB-_vgHm6nGf6-S22vKsIYk_Now7&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">REYNEL TIMAÑA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1OCXM341dQS70TvbM7Yi_yD5Cp8dtCETH&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">AHIZAR FUENTES LIZACANO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1pi0i5nxorF_rPXbme5L_JOABOiysH7t8&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">FABIO CUADRO MARTINEZ</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1cOHqBvsxwgp0UbsMoU9u5pzOGkQ7tl6r&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">BERNARDO GOMEZ RODRIGUEZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1nSw6UeH_w3q-YWAmSePmsl1sLPL9WQ3E&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">ERKI DE JESUS ACUÑA TERRIL</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1KS6k7NoKL6BObk0yegrQTVs-ygwlVMFm&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">MANUEL SAMPAYO BAENA</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1huiVklWO8HfPVxiApJqlS2Xb3G5s6_7e&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">EHIMAR H. CARRASCAL CASTAÑO</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://img.freepik.com/fotos-premium/bombero-casco-frente-al-fuego-buscando-agotado_1032596-50.jpg"
            alt="">
        <h2 class="fw-normal mt-3">ALBERTO QUINTERO QUINTERO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1agHRQMSv_l7-2ycFk-vf9gvTJBP0kAC2&sz=w1000"
            alt="" >
        <h2 class="fw-normal mt-3">KAREN MARGARITA PEREZ MAZA</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1pHSsEs_ubNg3PV_ISJDgXtBPVkXY4GCw&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JONANDER FERNANDEZ ZARZA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1tN0FekmXMt1xfyfdNfOm8TS3weBAjNZC&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JUAN JOSE AGUDELO GUERRERO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1zC2E_NFQjMN6YCIvU1RvF5T57fw6R4aQ&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">RAFAEL MARTINEZ TORREZ</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1K6_6mrovqdiItYLhgsi3cqr-EqZmnstb&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">LUZ NELLY CHICO HERNANDEZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1nid5hZrPzkYGIQegqojaKMUH7-vR0Gda&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">FRANCISCO HUMBERTO MURCIA</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1DHDqCYKUPqLCMNquuQ243A_naxpbDJnD&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">WALDIN AHUMEDO RODRIGUEZ</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1HVB765sLKyJ1M8WwBoIkZujJHf8G1LON&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JUAN CARLOS PEREZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=113N0c6Fwz0kfLpe5bYe91Z1ilnU5wc4e&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">RUBEN GOMEZ OROSCO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1ijEthoo8qsXP-3MHrEbSOhnf6KndEGuA&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JIMMY RAUDEL MAY NIEVE</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1TjVMBUsqFxwcI4CcV63hcYJq3-VICaq9&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JAVIER PEÑATE RAMOS</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1EgUIbXqnE0d1LJLjMdZ1u6SbPxQgD_VV&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JOEL LOAISA BARRO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1h1_u2w2feQvCrAkUvuhXmjkNcYqHOoDW&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">BRYAN HAMILTON FLOREZ</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1TkrYDXP6MtwYL0J3s19pe9YZYY7qsCL5&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">COSTANTINO MARRUGO CABARCAS</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1S2Z73yAimPLl7NBT5i6wAFaRDB_mynyY&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">ARMANDO BARRIOS MARTINEZ</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://img.freepik.com/fotos-premium/bombero-casco-frente-al-fuego-buscando-agotado_1032596-50.jpg"
            alt="">
        <h2 class="fw-normal mt-3">FREDDY CASTRO PADILLA</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1jaKRX9BrRj9e645TZEb8PMRnAxmSAHG_&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JOE PUERTA NATE</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1eipHobKq7nFxxEvSZDA_o5q714t--6He&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JOSE RICARDO CASTILLA CASTELLAR</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1uC1aZQKznxmR9WVbbTK8Ql-y0LsagS6E&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JOSE MERCADO PINO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1HZ05yhIFCm0uF3IcQ_ROxHCiMi-4jEoJ&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JULIO A. PADILLA PATERNINA</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=10UOQewR4rfcA7LM6BMczvXDTorQ-gFAh&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">VICTOR RODRIGUEZ ANGULO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://img.freepik.com/fotos-premium/bombero-casco-frente-al-fuego-buscando-agotado_1032596-50.jpg"
            alt="">
        <h2 class="fw-normal mt-3">CARLOS MADERI BARRIOS</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            srC="https://drive.google.com/thumbnail?id=1agHRQMSv_l7-2ycFk-vf9gvTJBP0kAC2&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">MANUELA CARABALLO CONTRERAS</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://img.freepik.com/fotos-premium/bombero-casco-frente-al-fuego-buscando-agotado_1032596-50.jpg"
            alt="">
        <h2 class="fw-normal mt-3">LUIS BLANCO PALOMINO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://img.freepik.com/fotos-premium/bombero-casco-frente-al-fuego-buscando-agotado_1032596-50.jpg"
            alt="">
        <h2 class="fw-normal mt-3">SANTIAGO BLANQUICETT PACHECO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://img.freepik.com/fotos-premium/bombero-casco-frente-al-fuego-buscando-agotado_1032596-50.jpg"
            alt="">
        <h2 class="fw-normal mt-3">JUSTO CABARCAS DIAZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=17ub2m-Ly7yDvs1P2tFBiSAFhhH3mUNh2&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">PEDRO HERRERA VILLA</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1rw_xhSbCQbnE2EznpOvW33_BPi4O5XGs&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">PABLO ANGULO COHEN</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1T080a5RvTSHMoiWGdcKNsOiM1XBpAYwM&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">MIGUEL ARREVALO NAVARRO</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1rLVoX59gHfkiQuZvcJqm9xOo5od6CkJD&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JOSE MARIA REYES DIAZ</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1NV3tYEoQlQAr63t8KAiMV396HLyc90ul&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">EDWIN REYES BOSSIO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1SIJAb3J2Nh1IHtKNpwfBefU1EPBe05W6&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JOAQUIN JOSE PANIZA CASTRO</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1f4aruJQL3V_x0yOLh3rOwQXq_r9_TSzD&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">SLADER E. CARCAMO BONFANTE</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1J_UHYU_HLzjYvQRJh35eAJpFx5dxROfO&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">OSWALDO PADILLA MONTERROSA</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1uNOfItkw44HrxcLktBbuxhhbyLEvYM0b&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">LUIS CARLOS CANABAL HINCAPIE</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1qjVgURraFA7WKta_PthBiOC02x1XpF6B&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">WILLIAM VARGAS SALGUEDO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1Eef0oG6ImsW7kd419oFTQ8Lh9xR4Athz&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">MILTON ALCALA VALENCIA</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1fPPpXVwaWyrLqawTmyuQej_u2Tan7gpf&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">ROBERTO ANDRES AREVALO HERNANDEZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1wH8unAFnoqX0_J4m80mSEVDvCU3wEg1N&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">GABRIEL SOSSA BELTRAN</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1N8NpaIUt9mllidBlAP5ER7FMuw4tH1DR&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JAIRO BADEL MANZANO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://img.freepik.com/fotos-premium/bombero-casco-frente-al-fuego-buscando-agotado_1032596-50.jpg"
            alt="">
        <h2 class="fw-normal mt-3">EUDALDO PEDROZA BARRIOS</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=12ehvckAwMCeuuJbfXmrRNTjMjoF-v4ZD&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">FELIX A. GUERRERO BRU</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1W7a6VAr60QstK1ok84IvcJIB2dkxzVN0&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JESUS LEAL ROSARIO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1g7FJxkLSHGeJuvTdGAWRwDQa6b4Mf4gH&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">ENRIQUE RAMIREZ PALACIO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1JWuc3DjZbjxYGrvIo_jRbijrcDg0it6P&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">LUIS FABIAN GUETO NIÑO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1abLiUHPdO8BTVGZVfMqF1UcD1kEVf8YD&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">BEJAMIN MENDOZA ROMERO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1TjVMBUsqFxwcI4CcV63hcYJq3-VICaq9&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">JAVIER PADILLA GARCIA</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1BvZHLaHv8upv6qDcR3E0NZqdHY5CoRu4&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">LUIS DAVID PIÑEREZ PEREZ</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1cPU0VhoA0dxD-a77Jx4Nv3y0SM4UUjNX&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">ANDER CAMILO TORREZ GOMEZ</h2>
    </div>
</div>
<app-footer></app-footer>
