
.nav-link{
    color: black;
}

.active{
    background-color: rgb(197, 195, 193);
}

.btn-dark{
    background-color: rgba(197, 195, 193, 0.63) !important;
    border: none;
    color: black;
    font-size: 20px;
}
.btn-dark:hover{
    background-color: rgb(141, 139, 137, 0.63) !important;
}

.nav-link:hover{
    background-color: #ffc7cd !important;
    border-top-color: #ffc7cd !important;
    border-left-color: #ffc7cd !important;
    border-right-color: #ffc7cd !important;
    border-bottom: #D81125 !important;
    color: black;
}
.borde{
    border-radius: 25px;
}
.card {
    transition: transform 0.3s ease;
    width: fit-content !important; 
    background-color: #f8f9fa;
    margin-left: auto;
    margin-right: auto;
}
.card:hover {
    transform: translateY(-5px);
    
}

.jus{
    margin-bottom: 60px;
    
}
.mto{
    margin-top: 5.1rem !important;
}  

.no-card{
    background-color: #f8f9fa;
    transition: transform 0.3s ease;
}
.no-card:hover{
    transform: translateY(-5px);
}