<app-encabezado></app-encabezado>
<div class="row gx-0 mb-5 pb-5 justify-content-center">
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/2epskn6ckz1y40zmmrsqh/ANIBAL-GUERRERO.jfif?rlkey=eg3wzshxw9ih4tzakguv28gyt&st=zq5srexy&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">ANIBAL GUERRERO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/wsnmlh10cetgwtqw0t19t/FRANKLIN-HAMILTON.jpeg?rlkey=4tmatbtktjq23qjovglulxd1t&st=flmwoutv&raw=1"
            alt="">
        <h2 class="fw-normal mt-3">FRANKLIN HAMILTON VELASQUEZ</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/7dh93edmii9x1i2v4g3sn/GASPAR-CABEZA.jpeg?rlkey=rmpgak51eyw4s3yis5add2scz&st=5d91mrs9&raw=1" alt="">
        <h2 class="fw-normal mt-3">GASPAR CABEZA RAMIREZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://www.dropbox.com/scl/fi/8y2ityy0aehiwymzoc83j/ADOLFO-CANABAL.jpeg?rlkey=wodolijcq7y3s2pc88mj1z5y3&st=wr3ahw08&raw=1" alt="">
        <h2 class="fw-normal mt-3">ADOLFO CANABAL HERRERA</h2>
    </div>
</div>
<app-footer></app-footer>
