<app-encabezado></app-encabezado>
<div class="row gx-0 mb-5 pb-5 justify-content-center">
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1QQk_a3umHzxuZNOLN67OTJ81s6OUMpcd&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">ANIBAL GUERRERO</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1cm7QUos38AJ384ZkhtI91m_tc5j70CtD&sz=w1000"
            alt="">
        <h2 class="fw-normal mt-3">FRANKLIN HAMILTON VELASQUEZ</h2>
    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=169AZSmHi7tcTWw3vuDod_CNZ_TB_B-I8&sz=w1000" alt="">
        <h2 class="fw-normal mt-3">GASPAR CABEZA RAMIREZ</h2>

    </div>
    <div class="col-lg-4 text-center mt-5 img-anim">
        <img class="bd-placeholder-img rounded-circle" width="170" height="170"
            src="https://drive.google.com/thumbnail?id=1llFcw-w6vtZdeF-5g2QD-NZoRJz6dbbz&sz=w1000" alt="">
        <h2 class="fw-normal mt-3">ADOLFO CANABAL HERRERA</h2>
    </div>
</div>
<app-footer></app-footer>
